@model IEnumerable<Category>

@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script>
        toastr.info('@TempData["Success"]')
  </script>    
}

<div class=" mb-2"><a class=" btn btn-secondary" asp-controller="Category" asp-action="Upsert"> <i class="bi bi-plus-square"></i> Add</a></div>

<table class="table table-bordered table-hover table-striped">
    <thead class="bg-black text-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>


        </tr>
    </thead>
    <tbody>
        @foreach(Category category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td><a asp-controller="Category" asp-action="Details" asp-route-id="@category.Id">@category.Name</a></td>
                <td>@category.MaxTime</td>
                <td>
                    <a class=" btn btn-success btn-outline-dark" asp-controller="Category" asp-action="Upsert" asp-route-id="@category.Id"> <i class="bi bi-pencil-square"></i>Edit</a>
                    <a class=" btn btn-warning btn-outline-dark" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"><i class="bi bi-trash3-fill"></i>Delete</a>

                </td>

            </tr>    
        }

    </tbody>
</table>